<div class="filtros-container">

  <select class="dropdown">
    <option value="all">Todas as cidades</option>
    <option value="ac">Rio Branco (AC)</option>
    <option value="al">Maceió (AL)</option>
    <option value="ap">Macapá (AP)</option>
    <option value="am">Manaus (AM)</option>
    <option value="ba">Salvador (BA)</option>
    <option value="ce">Fortaleza (CE)</option>
    <option value="df">Brasília (DF)</option>
    <option value="es">Vitória (ES)</option>
    <option value="go">Goiânia (GO)</option>
    <option value="ma">São Luís (MA)</option>
    <option value="mt">Cuiabá (MT)</option>
    <option value="ms">Campo Grande (MS)</option>
    <option value="mg">Belo Horizonte (MG)</option>
    <option value="pa">Belém (PA)</option>
    <option value="pb">João Pessoa (PB)</option>
    <option value="pr">Curitiba (PR)</option>
    <option value="pe">Recife (PE)</option>
    <option value="pi">Teresina (PI)</option>
    <option value="rj">Rio de Janeiro (RJ)</option>
    <option value="rn">Natal (RN)</option>
    <option value="rs">Porto Alegre (RS)</option>
    <option value="ro">Porto Velho (RO)</option>
    <option value="rr">Boa Vista (RR)</option>
    <option value="sc">Florianópolis (SC)</option>
    <option value="sp">São Paulo (SP)</option>
    <option value="se">Aracaju (SE)</option>
    <option value="to">Palmas (TO)</option>
  </select>

  <input type="date" class="date-input" pattern="\d{4}-\d{2}-\d{2}" />


  <button class="btn-buscar">
    Buscar
  </button>
</div>
